<div class="d-flex flex-column p-2">
  <div class="main-block">
    <div class="d-flex flex-wrap justify-content-around m-3">
      <form>
        <label class="m-3 text-white">
          Your bid:  <input type="number" value="1" class="pl-3" #inputBid/>
        </label>
        <label class="m-3 text-white">
          Black: <input type="radio" name="mode" value="black" placeholder="1" class="pl-3" [(ngModel)]="colorBid"/>
        </label>
        <label class="m-3 text-white">
          Red: <input type="radio" name="mode" value="red" placeholder="1" class="pl-3" [(ngModel)]="colorBid"/>
        </label>
        <label class="m-3 text-white">
          Zero: <input type="radio" name="mode" value="zero" placeholder="1" class="pl-3" [(ngModel)]="colorBid"/>
        </label>
      </form>
    </div>
    <div class=" border-bottom text-white border-white m-2">
      <h4 class="text-center p-2">Balance: {{ balance}}</h4>
    </div>
    <div class="block-btn d-flex flex-wrap p-3 m-auto justify-content-between">
      <button (click)="onclickStart()" class="btn bg-success text-white" [disabled]="!disabled">Start</button>
      <button (click)="onClickStop()" class="btn btn-danger text-white" [disabled]="disabled">Stop</button>
      <button (click)="onclickReset()" class="btn bg-primary text-white" [disabled]="arrayNumbers.length === 0">Reset</button>
    </div>
  </div>
  <div class="block-numbers d-flex flex-wrap m-auto p-3">
    <h2 *ngIf="arrayNumbers.length === 0" class="m-auto text-white p-5">We place bets, gentlemen!</h2>
    <div *ngFor="let number of arrayNumbers" class="my-card" appColorClass="{{number}}">
      <h3 class="text h3 m-auto" *ngIf="arrayNumbers.length !== 0">{{number}}</h3>
    </div>
  </div>
</div>
