.main-block {
  border: 3px solid silver;
  margin: 10px auto 50px;
  border-radius: 7px;
}

.block-btn {
  width: 350px;
}

.block-numbers {
  background: url("https://media.istockphoto.com/photos/green-poker-table-felt-background-with-shade-vignette-picture-id1062424918?k=20&m=1062424918&s=170667a&w=0&h=xf2_CFIl1cy2b8gvwbzFaQ2S2f0rOCtEBAPOPFg3hoo=");
  border: 3px solid white;
  border-radius: 7px;
  min-height: 100px;
}

.my-card {
  padding-top: 12px;
  margin: 5px;
  width: 50px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid white;
}

.text {
  text-align: center;
  color: white;
  font-family: cursive;
}


.black {
  background: black;
}

.red {
  background: red;
}

.zero {
  background: springgreen;
}

